.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: #1f2125;
  }

  .containerlight {
    width: 100%;
    min-height: 100vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: #282a30;
  }


   


  @media (min-width: 768px) {
    .container, .containerlight {
        padding-left: 5rem/* 32px */;
        padding-right: 5rem/* 32px */;
    }
}